body{
    margin: 0%;
    padding: 0%;
    background-color: antiquewhite;
}
.container{
    text-align: center;

}
h1{
    font-size: 6rem;
    margin: 1% 0% -3% 0%;
    font-family:sans-serif;
    color: white;
    margin-bottom: -4%; 
}
p{
    font-size: 4em;

}